<footer class="footer fixed-bottom">
        <div class="container">
            <span>{{nombre}} - {{ getAnio}} --- {{tipo}}  {{plataforma}} - {{cpu}}</span>
        </div>
      </footer>
      </body>